$font-colors: (
  'primary': #000000,
  'secondary': #FFFFFF,
  'tertiary': #ee4266,
  'card': #ffd28c
);

$base-font-size: 16px;

$fonts: (
  'primary': 'montserrat',
  // 'secondary': 'Roboto Condensed'
);

$theme-colors: (
  'primary-bg': #FFFFFF,
  'secondary-bg': #1c1259,
  'border': #cacaea,
  'card-border': #ff9b00,
  'card-background': #1c1259,
  'accent-light': #eda506,
);

$selection-colors: (
  'all': #494949,
  'react': #0d8fb7,
  'node': #0c8e63,
  'database': #eda506,
);

$breakpoints : (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);