$font-colors: (
  'primary': #fff
);

$fonts: (
  'primary': 'Heebo',
  'secondary': 'Roboto Condensed'
);

$theme-colors: (
  'primary-bg': #2A2929,
  'card-border': #fff,
  'border': #D8D8D8,
);

$breakpoints : (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);