$font-colors: (
  'primary': #fff
);

$base-font-size: 16px;

$fonts: (
  'primary': 'Heebo',
  'secondary': 'Roboto Condensed'
);

$theme-colors: (
  'primary-bg': #2A2929,
  'card-border': #fff,
  'border': #D8D8D8,
);

$selection-colors: (
  'all': #4425B7,
  'react': #B72525,
  'node': #3CB725,
  'database': #FCCE1B,
);

$breakpoints : (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);