* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: map-get($theme-colors, 'primary-bg');
  font-family: map-get($fonts, 'primary');
  padding: 1.5em;
}

.section-wrapper {
  margin-top: 6.125em - 1.5em;
  color: #fff;
}