* {
  box-sizing: border-box;
}

body {
  padding: em(20px);
  font-size: $base-font-size;
  background-color: map-get($theme-colors, 'primary-bg');
  font-family: map-get($fonts, 'primary');
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.section-wrapper {
  border-top: 1px solid map-get($theme-colors, 'border');
  margin-top: em(60px);
  padding-top: em(20px);
  color: #fff;
}

.active {
  @include card-border;
}