footer {
  background-color: map-get($theme-colors, 'secondary-bg');
  margin-top: em(50px);
  height: em(50px);

  p {
    color: map-get($font-colors, 'secondary');
    text-align: center;
    padding-top: em(15px)
  }
}