// SVG ANIMATION-----------------------------------
.st1 {
  stroke-dasharray: 521.4798583984375;
  stroke-dashoffset: 521.4798583984375;
  animation: dash 3s linear forwards;
}

.st2 {
  stroke-dasharray: 716.0350341796875;
  stroke-dashoffset: 716.0350341796875;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

// HEADER---------------------------------------------
header {
  @include flex(wrap, space-between, center) {
    border-bottom: 1px solid map-get($theme-colors, 'border');
    padding: em(20px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: map-get($theme-colors, 'secondary-bg');
    z-index: 100;
  }

  @include mq('md') {
    padding: em(15px) em(35px);
  }

  @include mq('lg') {
    overflow: hidden;
    padding: em(20px) em(50px);
  }

  @include mq('xl') {
    padding: em(20px) em(100px);
  }
}

.logo {
  width: em(40px);
  height: em(40px);
}

.hamburger-menu {
  @include mq('md') {
    display: none;
  }
}

.menu-icon {
  color: map-get($font-colors, 'secondary');
  font-size: em(28px);
  cursor: pointer;
}

nav {
  @include flex(wrap, space-between, center);

  ul {
    @include card-border;
    position: fixed;
    top: 60.2px;
    right: -576px;
    height: 100vh;
    width: 70vw;
    padding: em(30px);
    background-color: map-get($theme-colors, 'primary-bg');
    overflow: hidden;
    margin-top: 20px;

    @include mq('md') {
      @include flex(wrap, space-between, center);
      position: static;
      height: inherit;
      width: inherit;
      padding: 0;
      background-color: inherit;
      border: none;
      overflow: visible;
      margin-top: 0;
    }

    li {
      margin-bottom: em(30px);
      text-align: center;

      @include mq('md') {
        margin-bottom: 0;
        margin-left: em(20px);
      } 

      @include mq('lg') {
        margin-left: em(30px);
      } 
    }
  }

  a {
    color: map-get($font-colors, 'primary');
    padding: em(5px) em(8px);

    @include mq('md') {
      color: map-get($font-colors, 'secondary');
    }
  }
}

.nav-mobile {
  display: block;
}

@media (max-width: 768px) {
  .nav-animation-plus {
    animation: navMenuPlus .5s forwards;
  }
  
  .nav-animation-minus {
    animation: navMenuMinus .5s forwards;
  }
  
}
@keyframes navMenuPlus {
  to {
    transform: translateX(-576px);
  }
}

@keyframes navMenuMinus {
  to {
    transform: translateX(0px);
  }
}

