// SVG ANIMATION-----------------------------------
.st1 {
  stroke-dasharray: 521.4798583984375;
  stroke-dashoffset: 521.4798583984375;
  animation: dash 3s linear forwards;
}

.st2 {
  stroke-dasharray: 716.0350341796875;
  stroke-dashoffset: 716.0350341796875;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

// HEADER---------------------------------------------
header {
  @include flex(wrap, space-between, center) {
    padding: em(20px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: map-get($theme-colors, 'primary-bg');
    z-index: 100;
  }
}

.logo {
  width: em(40px);
  height: em(40px);
}

.menu-icon {
  color: map-get($font-colors, 'primary');
  font-size: em(28px);
}

nav {
  flex: 1 100%;
  display: none;
  margin-top: em(20px);

  ul {
    @include flex(wrap, space-between, center);
    overflow: hidden;
    height: 0;
  }

  a {
    color: map-get($font-colors, 'primary');
    padding: em(5px) em(8px);
  }
}

.nav-mobile {
  display: block;
}

.nav-animation {
  animation: navMenu .5s forwards;
}

@keyframes navMenu {
  to {
    height: em(40px);
  }
}