// SELECTION---------------------------------------------
.selections-wrapper {
  @include flex(wrap, flex-start, center);

  .choice {
    position: relative;
    padding: em(5px) em(8px);
    left: em(8px);
    margin-left: em(6.2px);
    margin-right: em(20px);
    margin-bottom: em(10px);
  }
}

.all {
  @include square(map-get($selection-colors, 'all'));
}

.react {
  @include square(map-get($selection-colors, 'react'));
}

.node {
  @include square(map-get($selection-colors, 'node'));
}

.database {
  @include square(map-get($selection-colors, 'database'));
}

// WORKS------------------------------------------------
.works {
  margin-top: em(20px);
  display: grid;
  grid-template-columns: repeat(auto-fill, em(150px));
  grid-gap: em(20px);
}

.work-description {
  font-size: em(17px);
  line-height: 1.5;
  margin-bottom: em(12px);
}

.selections-wrapper {
  @include border;
}

.outer-box {
  @include card-border;
  @include flex($just: center, $align: center);
  background-color: map-get($theme-colors, 'card-background');
  border-radius: 8px 8px;
  height: em(220px);
}

.inner-box {
  @include card-border;
  @include flex($just: center, $align: center);
  border-radius: 8px 8px;
  height: 92%;
  width: 88%;
}

.project-name {
  font-family: map-get($fonts, 'secondary');
  text-align: center;
  width: 80%;
  color: map-get($font-colors, 'tertiary');
  // transform: rotate(-10deg) skew(-10deg);
  padding: 5px 2px;
}
