// SELECTION---------------------------------------------
.selections-wrapper {
  @include flex(wrap, flex-start, center);

  .choice {
    position: relative;
    padding: em(5px) em(8px);
    left: em(8px);
    margin-left: em(6.2px);
    margin-right: em(20px);
    margin-bottom: em(10px);
  }
}

.all {
  @include square(map-get($selection-colors, 'all'));
}

.react {
  @include square(map-get($selection-colors, 'react'));
}

.node {
  @include square(map-get($selection-colors, 'node'));
}

.database {
  @include square(map-get($selection-colors, 'database'));
}

// WORKS------------------------------------------------
.works {
  margin-top: em(20px);
  display: grid;
  grid-template-columns: repeat(auto-fill, em(150px));
  grid-gap: em(20px);
}
.outer-box {
  @include card-border;
  @include flex($just: center, $align: center);
  border-radius: 8px 8px;
  height: em(220px);
}

.inner-box {
  @include card-border;
  @include flex($just: center, $align: center);
  border-radius: 8px 8px;
  height: 92%;
  width: 88%;
}

.project-name {
  @include card-border;
  font-family: map-get($fonts, 'secondary');
  text-align: center;
  width: 80%;
  transform: rotate(-10deg) skew(-10deg);
  padding: 5px 2px;
}

.outer-box:hover, .inner-box:hover {
  box-shadow:
  0 0 0.1vw  0.4vw #f8f7ff,   
  0 0 0.4vw  0.6vw #7276e9, 
  0 0   4vw  0.4vw #280be5,
  inset 0 0 1.5vw  0.4vw #1d0be5,
  inset 0 0 0.4vw  0.2vw #8272e9,
  inset 0 0 0.5vw  0.2vw #f9f7ff;
  // display: none;
}